<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>history</title>
    <link rel="stylesheet" href="css/graph2.css">
    <script type="text/javascript" src="js/fetch.js"></script>
</head>
<body class="dark">
<div class="divClean">
    <form action="history" method="get">
        <input type="datetime-local" name="start">
        <input type="datetime-local" name="stop">
        <input type="submit">
    </form>
</div>

<!--CO2-->
<div id="co2" class="divClean" th:style="|width: ${co2List.size() * 60}px;|" >
    <span th:each="co2: ${co2List}">
        <span th:with="h = ${co2.value > 1000 ? 250 : 0.25 * co2.value},
            color = ${co2.value > 1000 ? '#ed0949' : '#00508c'},
            value = ${#numbers.formatDecimal(co2.value, 3, 'DEFAULT', 0, 'POINT')}">
        <div class="div" th:style="|margin-top: ${250 - h}px; height: ${h}px; background-color: ${color};|"
             th:text="${value}">

        </div>
        </span>
    </span>
</div>
<div class="divClean" th:style="|width: ${tvocList.size() * 60}px;|" >
    <span th:each="co2: ${co2List}">
        <div class="div" style="height: 10px; background-color: black" th:text="${co2.time.toString().substring(11,16)}"/>
    </span>
</div>
<div class="divClean">
    Уровень CO<sub>2</sub>, PPM
</div>
<!--/CO2-->

<!--VOC-->
<div id="tvoc" class="divClean" th:style="|width: ${tvocList.size() * 60}px;|" >
    <span th:each="tvoc: ${tvocList}">
        <span th:with="h = ${tvoc.value > 100 ? 250 : 2.5 * tvoc.value},
            color = ${tvoc.value > 100 ? '#ed0949' : '#00508c'},
            value = ${#numbers.formatDecimal(tvoc.value, 2, 'DEFAULT', 0, 'POINT')}">
        <div class="div" th:style="|margin-top: ${250 - h}px; height: ${h}px; background-color: ${color};|" th:text="${value}">

        </div>
        </span>

    </span>
</div>
<div class="divClean" th:style="|width: ${tvocList.size() * 60}px;|" >
    <span th:each="tvoc: ${tvocList}">
        <div class="div" style="height: 10px; background-color: black" th:text="${tvoc.time.toString().substring(11,16)}"/>
    </span>
</div>
<div class="divClean">
    Уровень ЛОВ, PPM
</div>
<!--/VOC-->

<!--Temperature-->
<div id="temperature" class="divClean" th:style="|width: ${temperatureList.size() * 60}px;|" >
    <span th:each="t: ${temperatureList}">
        <span th:with="h = ${t.value > 50 ? 250 : 5 * t.value},
            color = ${t.value > 100 ? '#ed0949' : '#00508c'},
            value = ${#numbers.formatDecimal(t.value, 2, 'DEFAULT', 0, 'POINT')}">
        <div class="div" th:style="|margin-top: ${250 - h}px; height: ${h}px; background-color: ${color};|" th:text="${value}">

        </div>
        </span>

    </span>
</div>
<div class="divClean" th:style="|width: ${temperatureList.size() * 60}px;|" >
    <span th:each="t: ${temperatureList}">
        <div class="div" style="height: 10px; background-color: black" th:text="${t.time.toString().substring(11,16)}"/>
    </span>
</div>
<div class="divClean">
    Температура, <sup>o</sup>C
</div>
<!--/Temperature-->

<!--Humidity-->
<div id="humidity" class="divClean" th:style="|width: ${humidityList.size() * 60}px;|" >
    <span th:each="t: ${humidityList}">
        <span th:with="h = ${t.value > 100 ? 250 : 2.5 * t.value},
            color = ${t.value > 100 ? '#ed0949' : '#00508c'},
            value = ${#numbers.formatDecimal(t.value, 2, 'DEFAULT', 0, 'POINT')}">
        <div class="div" th:style="|margin-top: ${250 - h}px; height: ${h}px; background-color: ${color};|" th:text="${value}">

        </div>
        </span>

    </span>
</div>
<div class="divClean" th:style="|width: ${temperatureList.size() * 60}px;|" >
    <span th:each="t: ${humidityList}">
        <div class="div" style="height: 10px; background-color: black" th:text="${t.time.toString().substring(11,16)}"/>
    </span>
</div>
<div class="divClean">
    Влажность, %
</div>
<!--/Humidity-->
</body>
</html>
