<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>history</title>
    <link rel="stylesheet" href="css/graph2.css">
    <script type="text/javascript" src="js/fetch.js"></script>
</head>
<body class="dark">
<div class="divClean">
    <form action="history" method="get">
        <input type="datetime-local" name="start">
        <input type="datetime-local" name="stop">
        <input type="submit">
    </form>
</div>
<div id="co2" class="divClean" style="width: 1000%" >
    <span th:each="co2: ${co2List}">
    <span class="div" th:oninput="addLocalCO2(${co2.value})">
    </span>
    </span>
</div>
</body>
</html>