<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/graph.css">
    <script type="text/javascript" src="js/async.js"></script>
    <title>test graphics</title>
</head>
<body style="background: black; color: white" onload="startAsync()">
<h1>Данные с датчиков</h1>
<div id="graph" class="graph vertical" >
    <span th:each="t: ${temperatures}" th:with="val=${2 * t.value}">
    <div class="item"  th:style="|height:${val}px; margin-top:${110 - val}px|" th:text="${#numbers.formatDecimal(t.value, 2, 'DEFAULT', 1, 'POINT')}">10</div>
<!--    <div class="item" style="height:100px;margin-top:10px">50</div>-->
    </span>
</div>
<div>
    <h3>Температура</h3>
</div>
<!--<button onclick="startAsync()">Click Me</button>-->

</body>
</html>