<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/graph.css">
    <title>test graphics</title>
</head>
<body style="background: black; color: white">
<h1>Данные с датчиков</h1>
<div id="graph" class="graph vertical" >
<!--    <div class="item" th:style="|height:${2 * t}px; margin-top:${110 - 2 * t}px|" th:text="${t}">10</div>-->
<!--    <div class="item" style="height:20px;margin-top:90px" th:text="${t}" />-->
    <div class="item" style="height:45px;margin-top:65px">25</div>
    <div class="item" style="height:60px;margin-top:50px">30</div>
    <div class="item" style="height:100px;margin-top:10px">50</div>
</div>
</body>
</html>