<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>graphics</title>
    <link rel="stylesheet" href="css/graph2.css">
    <script type="text/javascript" src="js/fetch.js"></script>
</head>
<body class="dark">
<h1>Показания</h1>
<div class="divClean">
    <button onclick="co2Out('co2')">CO2</button>
    <button onclick="co2Out('temperature')">temp</button>
</div>

<div id="co2" class="divClean" style="width: 100%;">

</div>
<div class="divClean">
    Уровень CO2, PPM
</div>
<div id="temperature" class="divClean" style="width: 100%;">

</div>
<div class="divClean">
    Температура, C<sup>o</sup>
</div>

</body>
</html>